body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  margin: 0;
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  display: grid;
  gap: 60px;
  justify-items: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

.menu a {
  display: block;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  background: white;
  padding: 1rem 2rem;
  border: 2px solid white;
}

.menu a:hover {
  border-color: red;
}

/*  */

.informacoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  padding: 40px;
  /* gap: 40px; */
}

.botao {
  text-decoration: none;
  background-color: red;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
}

.botao:hover {
  background-color: #900;
}

.conteudo {
  align-content: center;
  justify-items: end;
  text-align: right;
  display: grid;
  background-color: white;
  gap: 20px;
  padding: 40px;
}

.titulo {
  font-size: 30px;
}

.subtitulo {
  font-size: 64px;
  padding: 40px;
  color: rgba(0, 0, 0, 0.2);
  align-content: center;
  background: url(/HTML-e-CSS-iniciantes/imagem/onda.svg);
}

.vantagens {
  background-color: white;
  list-style: none;
  margin: 0;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 10px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  font-size: 1.3rem;
  line-height: 1.1;
}
