.bicicleta {
  height: 600px;
  background-image: url(/imagem/bicicleta.jpg);
  background-color: black;
  background-repeat: none;
  background-size: cover;
  background-position: center top;
  display: flex;
}

.bicicleta h1 {
  background: white;
  margin: auto;
  align-content: center;
  padding: 1rem 2rem;
}
